Repository apu52/METAVERSE, pull requests merged in 2023-12, with the labels that each got.

#177 random_password_generator
  Projects/Random_Password_Generator/README.md
  Projects/Random_Password_Generator/index.html
  Projects/Random_Password_Generator/index.js
  Projects/Random_Password_Generator/style.css
  assets/img/random_password_generator.png
  projectData.json
Labels: KWOC

#185 Fix main heading
  assets/css/style.css
Labels: KWOC

#192 Dice Game
  Projects/Dice_Game/README.md
  Projects/Dice_Game/dicee.html
  Projects/Dice_Game/images/dice1.png
  Projects/Dice_Game/images/dice2.png
  Projects/Dice_Game/images/dice3.png
  Projects/Dice_Game/images/dice4.png
  Projects/Dice_Game/images/dice5.png
  Projects/Dice_Game/images/dice6.png
  Projects/Dice_Game/index.js
  Projects/Dice_Game/styles.css
  assets/img/Dice_Game.png
  projectData.json
Labels: CodePeak’23, EASY

#209 Full Fledged E-Commerce with most of Functionalities
  Projects/E_Commerce/.gitignore
  Projects/E_Commerce/README.md
  Projects/E_Commerce/package-lock.json
  Projects/E_Commerce/package.json
  Projects/E_Commerce/public/index.html
  Projects/E_Commerce/src/components/App.jsx
  Projects/E_Commerce/src/components/Carousel.jsx
  Projects/E_Commerce/src/components/ClientView.jsx
  Projects/E_Commerce/src/components/Contact.jsx
  Projects/E_Commerce/src/components/Createproduct.jsx
  Projects/E_Commerce/src/components/Footer.jsx
  Projects/E_Commerce/src/components/Howitwork.jsx
  Projects/E_Commerce/src/components/Loading.jsx
  Projects/E_Commerce/src/components/Navbar.jsx
  Projects/E_Commerce/src/components/Prod.jsx
  Projects/E_Commerce/src/components/Products.jsx
  Projects/E_Commerce/src/components/Update.jsx
  Projects/E_Commerce/src/components/VIVEKIITDCODES.jsx
  Projects/E_Commerce/src/components/Whatourclient.jsx
  Projects/E_Commerce/src/components/Whatwedo.jsx
  Projects/E_Commerce/src/components/images/Location.png
  Projects/E_Commerce/src/components/images/dog-img.jpg
  Projects/E_Commerce/src/components/images/ecommerce.png
  Projects/E_Commerce/src/components/images/feet-1840619_1280.jpg
  Projects/E_Commerce/src/components/images/gshock-1557384_1280.jpg
  Projects/E_Commerce/src/components/images/homepage.png
  Projects/E_Commerce/src/components/images/lady-img.jpg
  Projects/E_Commerce/src/components/images/order-confirmation-email.jpg
  Projects/E_Commerce/src/components/images/sunaina.png
  Projects/E_Commerce/src/components/images/white-background-photo.jpg
  Projects/E_Commerce/src/index.js
  Projects/E_Commerce/src/main/style.css
  Projects/E_Commerce/src/product_list.js
  Projects/E_Commerce/src/stars.js
  Projects/E_Commerce/src/views.js
  assets/img/E_Commerce.png
  projectData.json
Labels: New project, CodePeak’23, HARD

#212 Update style.css
  Projects/Google_Drive_clone/style.css
Labels: enhancement, KWOC

#215 Responsiveness Problem in Food_Ordering_Website
  Projects/Food_Ordering_Website/index.html
  Projects/Food_Ordering_Website/index.js
  Projects/Food_Ordering_Website/style.css
Labels: enhancement, KWOC

#211 Feat hackathon-nav
  Projects/Hackathons/css/responsive.css
  Projects/Hackathons/css/style.css
  Projects/Hackathons/index.html
Labels: KWOC

#230 NFT Website Clone
  Projects/NFT_Website_Clone/README.md
  Projects/NFT_Website_Clone/images/pic1.png
  Projects/NFT_Website_Clone/images/pic2.png
  Projects/NFT_Website_Clone/images/pic3.jpg
  Projects/NFT_Website_Clone/images/pic4.jpg
  Projects/NFT_Website_Clone/images/pic5.jpg
  Projects/NFT_Website_Clone/images/pic6.jpg
  Projects/NFT_Website_Clone/index.html
  Projects/NFT_Website_Clone/main.js
  Projects/NFT_Website_Clone/pic1.jpg
  Projects/NFT_Website_Clone/style.css
  assets/img/NFT_Website_Clone.jpg
  projectData.json
Labels: New project, MEDIUM, KWOC, CodePeak’23

#232 Countdown Background
  Projects/Website_Count_Down_Page/style.css
Labels: bug, CodePeak’23, 1-POINT

#227 Project - Text Encryptor
  Projects/Text_Encryptor/README.md
  Projects/Text_Encryptor/index.html
  Projects/Text_Encryptor/script.js
  Projects/Text_Encryptor/style.css
  assets/img/Text_Encryptor.png
  projectData.json
Labels: CodePeak’23, EASY

#244 added PARALLAX_WEBSITE
  Projects/PARALLAX_WEBSITE/index.html
  Projects/PARALLAX_WEBSITE/mntn.jpg
  Projects/PARALLAX_WEBSITE/mntn2.jpeg
  Projects/PARALLAX_WEBSITE/mntn3.jpg
  Projects/PARALLAX_WEBSITE/style.css
  assets/img/PARALLAX_WEBSITE.png
  projectData.json
Labels: New project, CodePeak’23, EASY

#245 Bunny Catcher
  Projects/Bunny_Catcher/app.js
  Projects/Bunny_Catcher/bunny.jpeg
  Projects/Bunny_Catcher/index.html
  Projects/Bunny_Catcher/readme.md
  Projects/Bunny_Catcher/style.css
  assets/img/Bunny_Catcher.png
  projectData.json
Labels: MEDIUM, CodePeak’23

#248 added the flappy bird game
  Projects/Flappybird_game/FB1.png
  Projects/Flappybird_game/FB2.png
  Projects/Flappybird_game/README.md
  Projects/Flappybird_game/bottompipe.png
  Projects/Flappybird_game/flappybird.css
  Projects/Flappybird_game/flappybird.js
  Projects/Flappybird_game/flappybird.png
  Projects/Flappybird_game/flappybirdbg.png
  Projects/Flappybird_game/index.html
  Projects/Flappybird_game/title.png
  Projects/Flappybird_game/toppipe.png
  assets/img/Flappybird_game.png
  projectData.json
Labels: MEDIUM, CodePeak’23

#252 Adding Project - AI Image Generator + Fixing mistake of Project Data
  Projects/AI_Image _Generator/README.md
  Projects/AI_Image _Generator/index.html
  Projects/AI_Image _Generator/script.js
  Projects/AI_Image _Generator/style.css
  assets/img/AI_Image _Generator.png
  projectData.json
Labels: New project, KWOC, CodePeak’23, EASY

#255 Feat about hackathon
  Projects/Hackathons/about.html
  Projects/Hackathons/index.html
Labels: enhancement, KWOC

#260 New packman game added
  Projects/packman/PacmanImage.png
  Projects/packman/README.md
  Projects/packman/app.js
  Projects/packman/fonts/PressStart2.ttf
  Projects/packman/index.html
  Projects/packman/styles.css
  assets/img/PacmanImage.png
  projectData.json
Labels: MEDIUM, CodePeak’23

#264 Issue #247: Feature_Request: Enhancing the overall User Interface of the Temperature Convertor Project
  Projects/Temperature_Converter/index.html
  Projects/Temperature_Converter/main.js
  Projects/Temperature_Converter/style.css
  assets/img/Temperature_Converter.png
Labels: enhancement, KWOC

#276 made suggested changes
  Projects/Hackathons/contact.html
  Projects/Hackathons/index.html
Labels: enhancement, CodePeak’23, EASY

#279 zoom clone
  Projects/Zoom_Clone/Readme.md
  Projects/Zoom_Clone/Screenshot (290).png
  Projects/Zoom_Clone/home.html
  Projects/Zoom_Clone/home.png
  assets/img/Zoom Clone.png
  projectData.json
Labels: New project, MEDIUM, KWOC, CodePeak’23

#283 FIX:Logo of the Food-ordering website.
  Projects/Food_Ordering_Website/style.css
Labels: bug, enhancement, KWOC

#300 Band Name Generator
  Projects/Band_Name_Generator/index.js
  Projects/Band_Name_Generator/package-lock.json
  Projects/Band_Name_Generator/package.json
  Projects/Band_Name_Generator/public/styles/main.css
  Projects/Band_Name_Generator/views/index.ejs
  Projects/Band_Name_Generator/views/partials/footer.ejs
  Projects/Band_Name_Generator/views/partials/header.ejs
  assets/img/Band_Name_Generator.png
  projectData.json
Labels: New project, MEDIUM, CodePeak’23

#317 Tiktok Clone Added
  Projects/Tiktok_Clone/Readme.md
  Projects/Tiktok_Clone/Screenshot (328).png
  Projects/Tiktok_Clone/index.html
  Projects/Tiktok_Clone/script.js
  Projects/Tiktok_Clone/video (1).webm
  Projects/Unit_Converter/index.html
  Projects/Unit_Converter/script.js
  Projects/Unit_Converter/style.css
  about old.html
  assets/img/Tiktok.png
  projectData.json
Labels: review requested

#284 Fix:meme generator-UI
  Projects/Meme_Generator/index.html
  Projects/Meme_Generator/style.css
Labels: KWOC

#297 added API_IMAGES projects
  Projects/API_IMAGES/index.html
  Projects/API_IMAGES/script.js
  Projects/API_IMAGES/style.css
  assets/img/API_IMAGES.png
  projectData.json
Labels: MEDIUM, CodePeak’23

#315 Ping Pong Game
  Projects/Ping_Pong_Game/README.md
  Projects/Ping_Pong_Game/audio/comScore.mp3
  Projects/Ping_Pong_Game/audio/userScore.mp3
  Projects/Ping_Pong_Game/bg.jpg
  Projects/Ping_Pong_Game/comScore.mp3
  Projects/Ping_Pong_Game/css/style.css
  Projects/Ping_Pong_Game/favicon.ico
  Projects/Ping_Pong_Game/img/bg.jpg
  Projects/Ping_Pong_Game/img/favicon.ico
  Projects/Ping_Pong_Game/index.html
  Projects/Ping_Pong_Game/js/main.js
  Projects/Ping_Pong_Game/main.js
  Projects/Ping_Pong_Game/style.css
  Projects/Ping_Pong_Game/userScore.mp3
  assets/img/ping_pong.png
  projectData.json
Labels: New project, MEDIUM, CodePeak’23

#327 Country data using Name
  Projects/Country_Guide/index.html
  Projects/Country_Guide/script.js
  Projects/Country_Guide/style.css
  assets/img/Country_Guide.png
  projectData.json
Labels: New project, MEDIUM, CodePeak’23

#341 Universal Currency Converter added
  Projects/CurrencyConverter/CNAME
  Projects/CurrencyConverter/assets/scss/index.scss
  Projects/CurrencyConverter/assets/stylesheets/index.css
  Projects/CurrencyConverter/assets/stylesheets/index.css.map
  Projects/CurrencyConverter/index.html
  Projects/CurrencyConverter/readme.md
  Projects/CurrencyConverter/script.js
  assets/img/currency.png
  projectData.json
Labels: MEDIUM, CodePeak’23

#343 Responsive GYM website
  Projects/Gym_Website/README.md
  Projects/Gym_Website/css/animate.css
  Projects/Gym_Website/css/style.css
  Projects/Gym_Website/images/about1.jpg
  Projects/Gym_Website/images/about2.jpg
  Projects/Gym_Website/images/about3.jpg
  Projects/Gym_Website/images/class1.jpg
  Projects/Gym_Website/images/class2.png
  Projects/Gym_Website/images/gallery1.jpg
  Projects/Gym_Website/images/gallery2.jpg
  Projects/Gym_Website/images/gallery3.jpg
  Projects/Gym_Website/images/gallery4.jpg
  Projects/Gym_Website/images/home.jpg
  Projects/Gym_Website/images/price1.jpg
  Projects/Gym_Website/images/price2.jpg
  Projects/Gym_Website/images/price3.jpg
  Projects/Gym_Website/images/schedule1.png
  Projects/Gym_Website/index.html
  Projects/Gym_Website/js/wow.min.js
  Projects/typing_speed/README.md
  Projects/typing_speed/index.html
  Projects/typing_speed/script.js
  Projects/typing_speed/styles.css
  assets/img/gym_website.png
  assets/img/typingmaster.png
  projectData.json
Labels: New project, MEDIUM, CodePeak’23

#359 added Hangman-GAME
  Projects/Hangman_game/images/hangman-0.svg
  Projects/Hangman_game/images/hangman-1.svg
  Projects/Hangman_game/images/hangman-2.svg
  Projects/Hangman_game/images/hangman-3.svg
  Projects/Hangman_game/images/hangman-4.svg
  Projects/Hangman_game/images/hangman-5.svg
  Projects/Hangman_game/images/hangman-6.svg
  Projects/Hangman_game/images/lost.gif
  Projects/Hangman_game/images/victory.gif
  Projects/Hangman_game/index.html
  Projects/Hangman_game/scripts/script.js
  Projects/Hangman_game/scripts/word-list.js
  Projects/Hangman_game/style.css
  Projects/Hangman_game/word-list.js
  assets/img/Hangman_game.png
  projectData.json
Labels: New project, MEDIUM, CodePeak’23

#356 Candy Crush
  Projects/candy_crush/README.md
  Projects/candy_crush/board.js
  Projects/candy_crush/candy-crush-background-2.png
  Projects/candy_crush/candy.js
  Projects/candy_crush/graphics/Thumbs.db
  Projects/candy_crush/graphics/blue-candy.png
  Projects/candy_crush/graphics/blue-special.png
  Projects/candy_crush/graphics/color-bomb.png
  Projects/candy_crush/graphics/green-candy.png
  Projects/candy_crush/graphics/green-special.png
  Projects/candy_crush/graphics/orange-candy.png
  Projects/candy_crush/graphics/orange-special.png
  Projects/candy_crush/graphics/purple-candy.png
  Projects/candy_crush/graphics/purple-special.png
  Projects/candy_crush/graphics/red-candy.png
  Projects/candy_crush/graphics/red-special.png
  Projects/candy_crush/graphics/yellow-candy.png
  Projects/candy_crush/handler.js
  Projects/candy_crush/index.html
  Projects/candy_crush/mainLayout.css
  Projects/candy_crush/rules.js
  assets/img/CandyCrush2.png
  projectData.json
Labels: CodePeak’23, HARD

#362 Car Race Game
  Projects/Racecar_Game/1icon.png
  Projects/Racecar_Game/icon.png
  Projects/Racecar_Game/images/car04.png
  Projects/Racecar_Game/images/cloud.jpg
  Projects/Racecar_Game/images/finish.png
  Projects/Racecar_Game/images/hero.png
  Projects/Racecar_Game/images/tree.png
  Projects/Racecar_Game/index.html
  Projects/Racecar_Game/javascript/1.js
  Projects/Racecar_Game/javascript/null.js
  Projects/Racecar_Game/readme.md
  assets/img/CARGAMEE.png
  projectData.json
Labels: MEDIUM, CodePeak’23

#370 Movie Ticket Booking App
  Projects/Movie-seat/index.html
  Projects/Movie-seat/script.js
  Projects/Movie-seat/style.css
  assets/img/Movie-seat.jpeg
  projectData.json
Labels: New project, MEDIUM, CodePeak’23

#374 Bmi Calculator added
  Projects/BMI_Calculator/index.html
  Projects/BMI_Calculator/main.js
  Projects/BMI_Calculator/readme.md
  Projects/BMI_Calculator/styles.css
  assets/img/bmi.jpg
  projectData.json
Labels: New project, MEDIUM, CodePeak’23

#385 Modified the UI of the refresh button in Age Calculator
  Projects/Age_Calculator/style.css
Labels: enhancement, KWOC

#378 added meal finder app
  Projects/mealfinder/index.html
  Projects/mealfinder/script.js
  Projects/mealfinder/style.css
  assets/img/mealfinder.png
  projectData.json
Labels: New project, MEDIUM, CodePeak’23

#395 Capcha Generator
  Projects/Capcha_Gen/index.html
  Projects/Capcha_Gen/script.js
  Projects/Capcha_Gen/styles.css
  assets/img/capchagen.png
  projectData.json
Labels: MEDIUM, CodePeak’23

#377 Color Blast
  Projects/Color_Blast/README.md
  Projects/Color_Blast/index.html
  Projects/Color_Blast/script.js
  Projects/Color_Blast/styles.css
  assets/img/COLORBLAST.png
  projectData.json
Labels: MEDIUM, CodePeak’23

#388 Project - Trading Widget
  Projects/Trading_Widget/index.html
  Projects/Trading_Widget/script.js
  Projects/Trading_Widget/style.css
  assets/img/Trading_Widget.png
  projectData.json
Labels: New project, MEDIUM, KWOC, CodePeak’23

#397 added creative-agency-website
  Projects/Creative_agency/index.html
  Projects/Creative_agency/script.js
  Projects/Creative_agency/style.css
  assets/img/Creative_agency.png
  projectData.json
Labels: New project, MEDIUM, CodePeak’23

#410 Github API to fetch contributors details
  Projects/GitHub_API/images/desktop-1440x900.png
  Projects/GitHub_API/images/github.png
  Projects/GitHub_API/index.html
  Projects/GitHub_API/script.js
  Projects/GitHub_API/style.css
  assets/img/GitHub_API.png
  projectData.json
Labels: New project, MEDIUM, CodePeak’23

#404 Event organizing
  Projects/Event_Organizer/.gitignore
  Projects/Event_Organizer/README.md
  Projects/Event_Organizer/package-lock.json
  Projects/Event_Organizer/package.json
  Projects/Event_Organizer/public/favicon.ico
  Projects/Event_Organizer/public/index.html
  Projects/Event_Organizer/public/logo192.png
  Projects/Event_Organizer/public/logo512.png
  Projects/Event_Organizer/public/manifest.json
  Projects/Event_Organizer/public/robots.txt
  Projects/Event_Organizer/src/App.css
  Projects/Event_Organizer/src/App.js
  Projects/Event_Organizer/src/assets/anime.jpg
  Projects/Event_Organizer/src/assets/homeimg.jpg
  Projects/Event_Organizer/src/components/About.js
  Projects/Event_Organizer/src/components/ChooseUs.js
  Projects/Event_Organizer/src/components/EventIdea.js
  Projects/Event_Organizer/src/components/Footer.js
  Projects/Event_Organizer/src/components/Home.js
  Projects/Event_Organizer/src/components/Nav.js
  Projects/Event_Organizer/src/components/PastInfo.js
  Projects/Event_Organizer/src/components/Pricing.js
  Projects/Event_Organizer/src/components/Protfolio.js
  Projects/Event_Organizer/src/components/Services.js
  Projects/Event_Organizer/src/components/Testmonial.js
  Projects/Event_Organizer/src/index.css
  Projects/Event_Organizer/src/index.js
  Projects/Event_Organizer/src/styles/style.css
  Projects/Event_Organizer/tailwind.config.js
  assets/img/Event_organizer.png
  projectData.json
Labels: CodePeak’23, HARD

#409 Add - Notes App
  Projects/Notes_App/README.md
  Projects/Notes_App/images/delete.png
  Projects/Notes_App/images/edit.png
  Projects/Notes_App/images/notes.png
  Projects/Notes_App/index.html
  Projects/Notes_App/script.js
  Projects/Notes_App/style.css
  assets/img/Notes_App.png
  projectData.json
Labels: MEDIUM, CodePeak’23

#405 Furniture Website
  Projects/Furniture-website/.gitignore
  Projects/Furniture-website/LICENSE
  Projects/Furniture-website/README.md
  Projects/Furniture-website/assets/css/main.css
  Projects/Furniture-website/assets/css/style.css
  Projects/Furniture-website/assets/img/favicon.png
  Projects/Furniture-website/assets/img/hero-bcg.jpeg
  Projects/Furniture-website/assets/img/logo.svg
  Projects/Furniture-website/assets/img/product-1.jpeg
  Projects/Furniture-website/assets/img/product-2.jpeg
  Projects/Furniture-website/assets/img/product-3.jpeg
  Projects/Furniture-website/assets/img/product-4.jpeg
  Projects/Furniture-website/assets/img/product-5.jpeg
  Projects/Furniture-website/assets/img/product-6.jpeg
  Projects/Furniture-website/assets/img/product-7.jpeg
  Projects/Furniture-website/assets/img/product-8.jpeg
  Projects/Furniture-website/assets/img/srm_logo.png
  Projects/Furniture-website/assets/js/app.js
  Projects/Furniture-website/assets/json/products.json
  Projects/Furniture-website/index.html
  assets/img/Furniture-website.png
  projectData.json
Labels: New project, MEDIUM, CodePeak’23

#399 Lyric Finder
  Projects/Lyric Finder/Readme.md
  Projects/Lyric Finder/index.html
  Projects/Lyric Finder/script.js
  Projects/Lyric Finder/style.css
  assets/img/lyricfinder.png
  projectData.json
Labels: New project, MEDIUM, KWOC, CodePeak’23

#412 Full fledged Codeforces web using API
  Projects/Codeforces_API/index.js
  Projects/Codeforces_API/package-lock.json
  Projects/Codeforces_API/package.json
  Projects/Codeforces_API/public/Styles/index.css
  Projects/Codeforces_API/public/Styles/nav.css
  Projects/Codeforces_API/public/Styles/problems.css
  Projects/Codeforces_API/public/Styles/user_info.css
  Projects/Codeforces_API/public/images/codeforces.png
  Projects/Codeforces_API/public/images/icon.png
  Projects/Codeforces_API/views/index.ejs
  Projects/Codeforces_API/views/partials/footer.ejs
  Projects/Codeforces_API/views/partials/navbar.ejs
  Projects/Codeforces_API/views/problem_result.ejs
  Projects/Codeforces_API/views/problems.ejs
  Projects/Codeforces_API/views/user_info.ejs
  assets/img/Codeforce_API.png
  projectData.json
Labels: New project, MEDIUM, CodePeak’23

#430 added hulu clone
  Projects/Hulu_clone/index.html
  Projects/Hulu_clone/script.js
  Projects/Hulu_clone/style.css
  assets/img/Hulu_clone.png
  projectData.json
Labels: New project, MEDIUM, CodePeak’23

#422 Improved UI and contact page of the Hackathon website.
  Projects/Hackathons/contact.html
  Projects/Hackathons/css/style.css
Labels: KWOC

#416 Kitter Responsive Pet Website
  Projects/Pet_Website/README.md
  Projects/Pet_Website/assets/css/style.css
  Projects/Pet_Website/assets/images/brand-1.jpg
  Projects/Pet_Website/assets/images/brand-2.jpg
  Projects/Pet_Website/assets/images/brand-3.jpg
  Projects/Pet_Website/assets/images/brand-4.jpg
  Projects/Pet_Website/assets/images/brand-5.jpg
  Projects/Pet_Website/assets/images/category-1.jpg
  Projects/Pet_Website/assets/images/category-2.jpg
  Projects/Pet_Website/assets/images/category-3.jpg
  Projects/Pet_Website/assets/images/category-4.jpg
  Projects/Pet_Website/assets/images/category-5.jpg
  Projects/Pet_Website/assets/images/cta-banner.png
  Projects/Pet_Website/assets/images/cta-bg.jpg
  Projects/Pet_Website/assets/images/cta-icon.png
  Projects/Pet_Website/assets/images/footer-bg.jpg
  Projects/Pet_Website/assets/images/hero-banner.jpg
  Projects/Pet_Website/assets/images/offer-banner-1.jpg
  Projects/Pet_Website/assets/images/offer-banner-2.jpg
  Projects/Pet_Website/assets/images/offer-banner-3.jpg
  Projects/Pet_Website/assets/images/payment.png
  Projects/Pet_Website/assets/images/product-1.jpg
  Projects/Pet_Website/assets/images/product-1_0.jpg
  Projects/Pet_Website/assets/images/product-2.jpg
  Projects/Pet_Website/assets/images/product-2_0.jpg
  Projects/Pet_Website/assets/images/product-3.jpg
  Projects/Pet_Website/assets/images/product-3_0.jpg
  Projects/Pet_Website/assets/images/product-4.jpg
  Projects/Pet_Website/assets/images/product-4_0.jpg
  Projects/Pet_Website/assets/images/product-5.jpg
  Projects/Pet_Website/assets/images/product-5_0.jpg
  Projects/Pet_Website/assets/images/product-6.jpg
  Projects/Pet_Website/assets/images/product-6_0.jpg
  Projects/Pet_Website/assets/images/product-7.jpg
  Projects/Pet_Website/assets/images/product-7_0.jpg
  Projects/Pet_Website/assets/images/product-8.jpg
  Projects/Pet_Website/assets/images/product-8_0.jpg
  Projects/Pet_Website/assets/images/service-icon-1.png
  Projects/Pet_Website/assets/images/service-icon-2.png
  Projects/Pet_Website/assets/images/service-icon-3.png
  Projects/Pet_Website/assets/images/service-icon-4.png
  Projects/Pet_Website/assets/images/service-image.png
  Projects/Pet_Website/assets/js/script.js
  Projects/Pet_Website/favicon.svg
  Projects/Pet_Website/index.html
  assets/img/kitter.png
  projectData.json
Labels: MEDIUM, CodePeak’23

#438 added othello game
  Projects/othello_game/index.html
  Projects/othello_game/scripts/board.js
  Projects/othello_game/scripts/cell.js
  Projects/othello_game/scripts/index.js
  Projects/othello_game/static/othello-board-game-ss.jpg
  assets/img/othello_game.png
  projectData.json
Labels: New project, MEDIUM, CodePeak’23

#447 added Javascript roulette game
  Projects/Javascript_roulette/LICENSE
  Projects/Javascript_roulette/README.md
  Projects/Javascript_roulette/assets/css/style.css
  Projects/Javascript_roulette/assets/js/app.js
  Projects/Javascript_roulette/index.html
  assets/img/Javascript_roulette.png
  projectData.json
Labels: MEDIUM, CodePeak’23

#448 DENTELO
  Projects/Dentelo/README.md
  Projects/Dentelo/assets/css/style.css
  Projects/Dentelo/assets/images/about-banner.png
  Projects/Dentelo/assets/images/blog-1.jpg
  Projects/Dentelo/assets/images/blog-2.jpg
  Projects/Dentelo/assets/images/blog-3.jpg
  Projects/Dentelo/assets/images/cta-banner.png
  Projects/Dentelo/assets/images/doctor-1.png
  Projects/Dentelo/assets/images/doctor-2.png
  Projects/Dentelo/assets/images/doctor-3.png
  Projects/Dentelo/assets/images/doctor-4.png
  Projects/Dentelo/assets/images/hero-banner.png
  Projects/Dentelo/assets/images/hero-bg.png
  Projects/Dentelo/assets/images/service-banner.png
  Projects/Dentelo/assets/images/service-icon-1.png
  Projects/Dentelo/assets/images/service-icon-2.png
  Projects/Dentelo/assets/images/service-icon-3.png
  Projects/Dentelo/assets/images/service-icon-4.png
  Projects/Dentelo/assets/images/service-icon-5.png
  Projects/Dentelo/assets/images/service-icon-6.png
  Projects/Dentelo/assets/js/script.js
  Projects/Dentelo/favicon.svg
  Projects/Dentelo/index.html
  assets/img/DENTISTWEB.png
  projectData.json
Labels: MEDIUM, CodePeak’23

#423 Made the Meme-generator web app responsive.
  Projects/Meme_Generator/style.css
Labels: New project, KWOC

#434 Daily Diary Entry WebApp
  Projects/Daily_Diary_Entry_Website/.gitignore
  Projects/Daily_Diary_Entry_Website/Readme.md
  Projects/Daily_Diary_Entry_Website/avatar img.png
  Projects/Daily_Diary_Entry_Website/index.js
  Projects/Daily_Diary_Entry_Website/logs.json
  Projects/Daily_Diary_Entry_Website/package-lock.json
  Projects/Daily_Diary_Entry_Website/package.json
  Projects/Daily_Diary_Entry_Website/public/index.html
  Projects/Daily_Diary_Entry_Website/public/style.css
  assets/img/Daily_Diary_Entry_Website.png
  projectData.json
Labels: New project, MEDIUM, CodePeak’23

#465 added bubble burst game
  Projects/Bubble_Burst_Game/index.html
  Projects/Bubble_Burst_Game/preview.png
  Projects/Bubble_Burst_Game/script.js
  Projects/Bubble_Burst_Game/style.css
  assets/img/Bubble_Burst_Game.png
  projectData.json
Labels: New project, MEDIUM, CodePeak’23

#455 Medication Schedules Website
  Projects/medicationSchedule/index.html
  Projects/medicationSchedule/mainStyle.css
  Projects/medicationSchedule/media/avatar.png
  Projects/medicationSchedule/media/background.png
  Projects/medicationSchedule/media/background2.png
  Projects/medicationSchedule/media/chatbot.png
  Projects/medicationSchedule/media/heroImage.png
  Projects/medicationSchedule/pages/caregivers/caregivers.css
  Projects/medicationSchedule/pages/caregivers/caregivers.html
  Projects/medicationSchedule/pages/caregivers/caregivers.js
  Projects/medicationSchedule/pages/chatbot/chatbot.css
  Projects/medicationSchedule/pages/chatbot/chatbot.html
  Projects/medicationSchedule/pages/contacts/contacts.css
  Projects/medicationSchedule/pages/contacts/contacts.html
  Projects/medicationSchedule/pages/contacts/contacts.js
  Projects/medicationSchedule/pages/schedule/schedule.css
  Projects/medicationSchedule/pages/schedule/schedule.html
  Projects/medicationSchedule/pages/schedule/schedule.js
  Projects/medicationSchedule/pages/style.css
  Projects/medicationSchedule/script.js
  assets/img/medicationSchedule.png
  projectData.json
Labels: New project, MEDIUM, CodePeak’23

#472 Excercise_Guide (new PR)
  Projects/Excercise_Guide/README.md
  Projects/Excercise_Guide/package-lock.json
  Projects/Excercise_Guide/package.json
  Projects/Excercise_Guide/public/favicon.ico
  Projects/Excercise_Guide/public/index.html
  Projects/Excercise_Guide/public/logo192.png
  Projects/Excercise_Guide/public/logo512.png
  Projects/Excercise_Guide/public/manifest.json
  Projects/Excercise_Guide/public/robots.txt
  Projects/Excercise_Guide/src/App.css
  Projects/Excercise_Guide/src/App.js
  Projects/Excercise_Guide/src/assets/icons/body-part.png
  Projects/Excercise_Guide/src/assets/icons/equipment.png
  Projects/Excercise_Guide/src/assets/icons/target.png
  Projects/Excercise_Guide/src/assets/images/Logo-1.png
  Projects/Excercise_Guide/src/assets/images/Logo.png
  Projects/Excercise_Guide/src/assets/images/banner.png
  Projects/Excercise_Guide/src/components/Detail.jsx
  Projects/Excercise_Guide/src/components/ExerciseCard.jsx
  Projects/Excercise_Guide/src/components/ExerciseVideo.jsx
  Projects/Excercise_Guide/src/components/Exercises.jsx
  Projects/Excercise_Guide/src/components/Footer.jsx
  Projects/Excercise_Guide/src/components/HeroBanner.jsx
  Projects/Excercise_Guide/src/components/Navbar.jsx
  Projects/Excercise_Guide/src/components/SearchExercise.jsx
  Projects/Excercise_Guide/src/index.js
  Projects/Excercise_Guide/src/pages/ExerciseDetail.jsx
  Projects/Excercise_Guide/src/pages/Home.jsx
  Projects/Excercise_Guide/src/utils/fetchExcerciseData.js
  assets/img/Excercise_Guide.PNG
Labels: New project, MEDIUM, CodePeak’23

#490 IT Solution Website
  Projects/IT_Solution/README.md
  Projects/IT_Solution/assets/css/style.css
  Projects/IT_Solution/assets/images/blog-1.jpg
  Projects/IT_Solution/assets/images/blog-2.jpg
  Projects/IT_Solution/assets/images/blog-3.jpg
  Projects/IT_Solution/assets/images/features-icon-1.png
  Projects/IT_Solution/assets/images/features-icon-2.png
  Projects/IT_Solution/assets/images/features-icon-3.png
  Projects/IT_Solution/assets/images/features-icon-4.png
  Projects/IT_Solution/assets/images/hero-banner.png
  Projects/IT_Solution/assets/images/logo.svg
  Projects/IT_Solution/assets/images/newsletter.png
  Projects/IT_Solution/assets/images/service-1.png
  Projects/IT_Solution/assets/images/service-2.png
  Projects/IT_Solution/assets/images/shape1.png
  Projects/IT_Solution/assets/images/shape2.png
  Projects/IT_Solution/assets/images/shape3.png
  Projects/IT_Solution/assets/js/script.js
  Projects/IT_Solution/favicon.svg
  Projects/IT_Solution/index.html
  assets/img/itsoln.png
  projectData.json
Labels: New project, MEDIUM, CodePeak’23

#496 Competitive Gamified Dashboard for Educational Institutions
  Projects/GamifiedDashboard/index.html
  Projects/GamifiedDashboard/media/avatar.png
  Projects/GamifiedDashboard/media/badges/active.png
  Projects/GamifiedDashboard/media/badges/contributor.png
  Projects/GamifiedDashboard/media/badges/l1.png
  Projects/GamifiedDashboard/media/badges/l2.png
  Projects/GamifiedDashboard/media/badges/l3.png
  Projects/GamifiedDashboard/media/badges/l4.png
  Projects/GamifiedDashboard/media/badges/wizard.png
  Projects/GamifiedDashboard/style.css
  assets/img/GamifiedDashboard.png
  projectData.json
Labels: New project, MEDIUM, CodePeak’23

#512 space Exploration project
  Projects/Space_Exploration/README.md
  Projects/Space_Exploration/backend/.gitignore
  Projects/Space_Exploration/backend/controller/satelliteController.js
  Projects/Space_Exploration/backend/controller/userController.js
  Projects/Space_Exploration/backend/index.js
  Projects/Space_Exploration/backend/middleware/auth.js
  Projects/Space_Exploration/backend/models/User.js
  Projects/Space_Exploration/backend/package-lock.json
  Projects/Space_Exploration/backend/package.json
  Projects/Space_Exploration/backend/routes/satellite.js
  Projects/Space_Exploration/backend/routes/users.js
  Projects/Space_Exploration/backend/utils/jwtTokens.js
  Projects/Space_Exploration/frontend/.gitignore
  Projects/Space_Exploration/frontend/package-lock.json
  Projects/Space_Exploration/frontend/package.json
  Projects/Space_Exploration/frontend/public/favicon.ico
  Projects/Space_Exploration/frontend/public/index.html
  Projects/Space_Exploration/frontend/public/logo192.png
  Projects/Space_Exploration/frontend/public/logo512.png
  Projects/Space_Exploration/frontend/public/manifest.json
  Projects/Space_Exploration/frontend/public/robots.txt
  Projects/Space_Exploration/frontend/src/App.css
  Projects/Space_Exploration/frontend/src/App.js
  Projects/Space_Exploration/frontend/src/actions/authActions.js
  Projects/Space_Exploration/frontend/src/actions/userAction.js
  Projects/Space_Exploration/frontend/src/assets/earth-img.jpg
  Projects/Space_Exploration/frontend/src/assets/home-astronaut.jpg
  Projects/Space_Exploration/frontend/src/assets/home-earth.jpg
  Projects/Space_Exploration/frontend/src/components/EarthHome.js
  Projects/Space_Exploration/frontend/src/components/Events.js
  Projects/Space_Exploration/frontend/src/components/EventsCard.js
  Projects/Space_Exploration/frontend/src/components/Footer.js
  Projects/Space_Exploration/frontend/src/components/Home.js
  Projects/Space_Exploration/frontend/src/components/Navbar.js
  Projects/Space_Exploration/frontend/src/components/SendEmail.js
  Projects/Space_Exploration/frontend/src/components/UserLogin.js
  Projects/Space_Exploration/frontend/src/components/UserProfile.js
  Projects/Space_Exploration/frontend/src/components/UserRegister.js
  Projects/Space_Exploration/frontend/src/components/planets/JupiterHome.js
  Projects/Space_Exploration/frontend/src/components/planets/MarsHome.js
  Projects/Space_Exploration/frontend/src/components/planets/MercuryHome.js
  Projects/Space_Exploration/frontend/src/components/planets/SatrunHome.js
  Projects/Space_Exploration/frontend/src/components/planets/VenusHome.js
  Projects/Space_Exploration/frontend/src/constants/userConstants.js
  Projects/Space_Exploration/frontend/src/elements/HomeEle.js
  Projects/Space_Exploration/frontend/src/elements/LandingImg.js
  Projects/Space_Exploration/frontend/src/elements/Loading.js
  Projects/Space_Exploration/frontend/src/elements/NavLink.js
  Projects/Space_Exploration/frontend/src/elements/SatelliteCard.js
  Projects/Space_Exploration/frontend/src/elements/ScrollDown.js
  Projects/Space_Exploration/frontend/src/index.css
  Projects/Space_Exploration/frontend/src/index.js
  Projects/Space_Exploration/frontend/src/reducers/authReducer.js
  Projects/Space_Exploration/frontend/src/reducers/userReducers.js
  Projects/Space_Exploration/frontend/src/store.js
  Projects/Space_Exploration/frontend/src/styles/style.css
  Projects/Space_Exploration/frontend/tailwind.config.js
  assets/img/Space_Exploration.png
  projectData.json
Labels: New project, CodePeak’23, HARD

#537 Added Jokes App
  Projects/JokesApp/index.html
  Projects/JokesApp/script.js
  Projects/JokesApp/style.css
  assets/img/Jokes.png
  projectData.json
Labels: New project, CodePeak’23, EASY

#527 added ride rental website
  Projects/Rental_ride/README.md
  Projects/Rental_ride/assets/css/style.css
  Projects/Rental_ride/assets/images/blog-1.jpg
  Projects/Rental_ride/assets/images/blog-2.jpg
  Projects/Rental_ride/assets/images/blog-3.jpg
  Projects/Rental_ride/assets/images/blog-4.jpg
  Projects/Rental_ride/assets/images/blog-5.jpg
  Projects/Rental_ride/assets/images/car-1.jpg
  Projects/Rental_ride/assets/images/car-2.jpg
  Projects/Rental_ride/assets/images/car-3.jpg
  Projects/Rental_ride/assets/images/car-4.jpg
  Projects/Rental_ride/assets/images/car-5.jpg
  Projects/Rental_ride/assets/images/car-6.jpg
  Projects/Rental_ride/assets/images/hero-banner.jpg
  Projects/Rental_ride/assets/images/logo.svg
  Projects/Rental_ride/assets/js/script.js
  Projects/Rental_ride/favicon.svg
  Projects/Rental_ride/index.html
  Projects/Rental_ride/index.txt
  Projects/Rental_ride/readme-images/desktop.png
  Projects/Rental_ride/readme-images/project-logo.png
  Projects/Rental_ride/style-guide.md
  assets/img/Rental_ride.png
  projectData.json
Labels: New project, MEDIUM, CodePeak’23

#482 Family Travel Tracker
  Projects/Family_Travel_Tracker/README.md
  Projects/Family_Travel_Tracker/index.js
  Projects/Family_Travel_Tracker/package-lock.json
  Projects/Family_Travel_Tracker/package.json
  Projects/Family_Travel_Tracker/public/styles/main.css
  Projects/Family_Travel_Tracker/public/styles/new.css
  Projects/Family_Travel_Tracker/queries.sql
  Projects/Family_Travel_Tracker/views/index.ejs
  Projects/Family_Travel_Tracker/views/new.ejs
  assets/img/Family_Travel_Tracker.png
  projectData.json
Labels: review requested

#574 New project:Thala for a reason
  Projects/ThalaProject/README.md
  Projects/ThalaProject/package-lock.json
  Projects/ThalaProject/package.json
  Projects/ThalaProject/public/favicon.ico
  Projects/ThalaProject/public/index.html
  Projects/ThalaProject/public/logo192.png
  Projects/ThalaProject/public/logo512.png
  Projects/ThalaProject/public/manifest.json
  Projects/ThalaProject/public/robots.txt
  Projects/ThalaProject/src/App.css
  Projects/ThalaProject/src/App.js
  Projects/ThalaProject/src/App.test.js
  Projects/ThalaProject/src/audio.mp3
  Projects/ThalaProject/src/index.css
  Projects/ThalaProject/src/index.js
  Projects/ThalaProject/src/inputcard.js
  Projects/ThalaProject/src/reportWebVitals.js
  Projects/ThalaProject/src/setupTests.js
  assets/img/ThalaProject.png
  projectData.json
Labels: New project, KWOC

#579 Guess the number game
  Projects/Guess_the_Number/Readme.md
  Projects/Guess_the_Number/guessthenum.png
  Projects/Guess_the_Number/index.html
  Projects/Guess_the_Number/script.js
  Projects/Guess_the_Number/style.css
  Projects/Pomodoro_Timer/Readme.md
  assets/img/guessthenum.png
  projectData.json
Labels: New project, CodePeak’23, EASY

#567 AudioExtract added
  Projects/AudioExtract/Client/package-lock.json
  Projects/AudioExtract/Client/package.json
  Projects/AudioExtract/Client/popup.js
  Projects/AudioExtract/Client/public/favicon.ico
  Projects/AudioExtract/Client/public/index.html
  Projects/AudioExtract/Client/public/logo192.png
  Projects/AudioExtract/Client/public/logo512.png
  Projects/AudioExtract/Client/public/manifest.json
  Projects/AudioExtract/Client/public/robots.txt
  Projects/AudioExtract/Client/src/About.js
  Projects/AudioExtract/Client/src/App.js
  Projects/AudioExtract/Client/src/Audiodetails.js
  Projects/AudioExtract/Client/src/Audioextract.js
  Projects/AudioExtract/Client/src/Audiofiles.js
  Projects/AudioExtract/Client/src/Audiolist.js
  Projects/AudioExtract/Client/src/Home.js
  Projects/AudioExtract/Client/src/Login.css
  Projects/AudioExtract/Client/src/Login.js
  Projects/AudioExtract/Client/src/Navbar.css
  Projects/AudioExtract/Client/src/Navbar.js
  Projects/AudioExtract/Client/src/NotFound.js
  Projects/AudioExtract/Client/src/Signup.js
  Projects/AudioExtract/Client/src/audify.css
  Projects/AudioExtract/Client/src/home.css
  Projects/AudioExtract/Client/src/index.css
  Projects/AudioExtract/Client/src/index.js
  Projects/AudioExtract/Client/src/setupTests.js
  Projects/AudioExtract/Client/src/useFetch.js
  Projects/AudioExtract/README.md
  Projects/AudioExtract/server/Models/audioModel.js
  Projects/AudioExtract/server/Models/userModel.js
  Projects/AudioExtract/server/connection.js
  Projects/AudioExtract/server/package-lock.json
  Projects/AudioExtract/server/package.json
  Projects/AudioExtract/server/routes.js
  Projects/AudioExtract/server/server.js
  assets/img/AudioExtract.png
  projectData.json
Labels: New project, MEDIUM, CodePeak’23

#583 CyberWise
  Projects/cyberWise/Navber.css
  Projects/cyberWise/README.md
  Projects/cyberWise/about.html
  Projects/cyberWise/background.jpg
  Projects/cyberWise/favicon.svg
  Projects/cyberWise/index.html
  Projects/cyberWise/mayankimg3.jpeg
  Projects/cyberWise/script.js
  Projects/cyberWise/style.css
  assets/img/cyberwiseee.png
  projectData.json
Labels: New project, CodePeak’23, EASY

#584 New secret keeper project added
  Projects/secret/README.md
  Projects/secret/images/To-Do-List-WebApp-main/README.md
  Projects/secret/images/To-Do-List-WebApp-main/images/github.png
  Projects/secret/images/To-Do-List-WebApp-main/images/icon.png
  Projects/secret/images/To-Do-List-WebApp-main/images/instagram.png
  Projects/secret/images/To-Do-List-WebApp-main/images/linkedin.png
  Projects/secret/images/To-Do-List-WebApp-main/images/linktree.webp
  Projects/secret/images/To-Do-List-WebApp-main/index.html
  Projects/secret/images/To-Do-List-WebApp-main/script.js
  Projects/secret/images/To-Do-List-WebApp-main/style.css
  Projects/secret/images/github.png
  Projects/secret/images/icon.png
  Projects/secret/images/instagram.png
  Projects/secret/images/linkedin.png
  Projects/secret/images/linktree.webp
  Projects/secret/index.html
  Projects/secret/script.js
  Projects/secret/style.css
  assets/img/secret.png
  images/Screenshot_20231228_230730.png
  projectData.json
Labels: New project, MEDIUM, CodePeak’23

#591 Issue #580, #581: Bug_Report: Age Calculator Project; Feature_Request: Enhancing the User Interface of the Age Calculator Project
  Projects/Age_Calculator/index.html
  Projects/Age_Calculator/script.js
  Projects/Age_Calculator/style.css
  Projects/Temperature_Converter/index.html
  assets/img/Age_Calc.png
Labels: enhancement, KWOC
